services:
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123!
      POSTGRES_DB: qtipdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    volumes:
      - ./servers.json:/pgadmin4/servers.json
      - .pgpass:/pgpass
    depends_on:
      - postgres

  backend:
    build:
      context: ./apiservice 
      dockerfile: Dockerfile
    ports:
      - "5066:5066"
    environment:
      - ASPNETCORE_URLS=http://+:5066
      - ConnectionStrings__PostgresConnection=Host=postgres;Port=5432;Database=qtipdb;Username=admin;Password=password123!
    depends_on:
      - postgres

  frontend:
    build:
      context: ./webclient
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_API_URL=http://localhost:5066
    extra_hosts:
    - "host.docker.internal:host-gateway"
    ports:
      - "3000:80"
    depends_on:
      - backend
    
volumes:
  pgdata:
